.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 24px 0;
    height: 57px;
    margin-bottom: 18px;
}

.login{
    color: #0e101a;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    margin-right: 15px;
}
